<h1>Activities#random</h1>

<div class="control-container">
  <div class="control-statement-button-container">
    <div class="control-statement">
      What should I do? 
    </div>
    <button type="button">Tell me</button>
  </div>
</div>
