<%= turbo_frame_tag 'random_activity_frame' do %>
  <h1>Activities#random</h1>

  <main class="container">
    <div class="header">
      <h1><%= @activity.name %></h1>
    </div>
  </main>
  <%= link_to "I'm still Bored", random_path, data: { turbo_frame: "random_activity_frame" }, class: 'btn btn--primary' %>
<% end %>