<%= turbo_frame_tag 'random_activity_frame' do %>
  <main class='container'>
    <h2>Looking for something to do? Click the button below!</h2>
    <%= link_to "I'm Bored", random_path, class: 'btn' %>
  </main>
<% end %>